In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local[2]")\
        .appName("Spark Demo")\
        .getOrCreate()

In [5]:
from pyspark.sql.functions import *

In [2]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# EMP schema
emp_schema = StructType([
    StructField("emp_id", IntegerType(), True),
    StructField("ename", StringType(), True),
    StructField("dept_id", IntegerType(), True)
])

emp_data = [
    (1, "Smith", 10),
    (2, "Allen", 20),
    (3, "Ward", 10),
    (4, "Jones", 30),
    (5, "Martin", None)
]

emp = spark.createDataFrame(emp_data, emp_schema)

emp.show()

+------+------+-------+
|emp_id| ename|dept_id|
+------+------+-------+
|     1| Smith|     10|
|     2| Allen|     20|
|     3|  Ward|     10|
|     4| Jones|     30|
|     5|Martin|   NULL|
+------+------+-------+

In [7]:
emp.select("ename",
          upper("ename").alias("Name_upper"),
          lower("ename").alias("Name_lower"),
          initcap("ename").alias("Name_initcap")
         ).show()

+------+----------+----------+------------+
| ename|Name_upper|Name_lower|Name_initcap|
+------+----------+----------+------------+
| Smith|     SMITH|     smith|       Smith|
| Allen|     ALLEN|     allen|       Allen|
|  Ward|      WARD|      ward|        Ward|
| Jones|     JONES|     jones|       Jones|
|Martin|    MARTIN|    martin|      Martin|
+------+----------+----------+------------+

In [8]:
emp.withColumn("Name_upper",upper("ename")).show()

+------+------+-------+----------+
|emp_id| ename|dept_id|Name_upper|
+------+------+-------+----------+
|     1| Smith|     10|     SMITH|
|     2| Allen|     20|     ALLEN|
|     3|  Ward|     10|      WARD|
|     4| Jones|     30|     JONES|
|     5|Martin|   NULL|    MARTIN|
+------+------+-------+----------+

In [10]:
emp.withColumns({
    "Name_upper":upper("ename"),
    "Name_lower":lower("ename"),
    "Name_initcap":initcap("ename")}
    ).show()

+------+------+-------+----------+----------+------------+
|emp_id| ename|dept_id|Name_upper|Name_lower|Name_initcap|
+------+------+-------+----------+----------+------------+
|     1| Smith|     10|     SMITH|     smith|       Smith|
|     2| Allen|     20|     ALLEN|     allen|       Allen|
|     3|  Ward|     10|      WARD|      ward|        Ward|
|     4| Jones|     30|     JONES|     jones|       Jones|
|     5|Martin|   NULL|    MARTIN|    martin|      Martin|
+------+------+-------+----------+----------+------------+

In [47]:
df.show()

+---+----------+-------------------+
| id|order_date|        delivery_ts|
+---+----------+-------------------+
|  1|2025-05-19|2025-12-15 14:25:00|
|  2|2024-05-20|2025-11-01 09:10:30|
|  3|2024-05-21|2025-07-30 20:45:10|
+---+----------+-------------------+

In [48]:
data = [
    (1, "Ravi Kumar"),
    (2, "Priya Reddy"),
    (3, "John Doe"),
    (4, "Kiran Kumar"),
    (5, "Meera Priya")
]

df = spark.createDataFrame(data, ["id", "name"])
df.show()

+---+-----------+
| id|       name|
+---+-----------+
|  1| Ravi Kumar|
|  2|Priya Reddy|
|  3|   John Doe|
|  4|Kiran Kumar|
|  5|Meera Priya|
+---+-----------+

In [50]:
df.show()

+---+-----------+
| id|       name|
+---+-----------+
|  1| Ravi Kumar|
|  2|Priya Reddy|
|  3|   John Doe|
|  4|Kiran Kumar|
|  5|Meera Priya|
+---+-----------+

In [53]:
df = df.withColumn("upper_name", lower("name"))

In [54]:
df.show()

+---+-----------+-----------+
| id|       name| upper_name|
+---+-----------+-----------+
|  1| Ravi Kumar| ravi kumar|
|  2|Priya Reddy|priya reddy|
|  3|   John Doe|   john doe|
|  4|Kiran Kumar|kiran kumar|
|  5|Meera Priya|meera priya|
+---+-----------+-----------+

In [16]:
df.filter(trim(col("name")) == 'Ravi Kumar').show()

+---+------------------+
| id|              name|
+---+------------------+
|  1|    Ravi Kumar    |
+---+------------------+

In [4]:
df.withColumn('upper_name', upper('name')).show()

+---+-----------+-----------+
| id|       name| upper_name|
+---+-----------+-----------+
|  1| Ravi Kumar| RAVI KUMAR|
|  2|Priya Reddy|PRIYA REDDY|
|  3|   John Doe|   JOHN DOE|
|  4|Kiran Kumar|KIRAN KUMAR|
|  5|Meera Priya|MEERA PRIYA|
+---+-----------+-----------+

In [6]:
df.select(
    "name",
    upper("name").alias("ename_upper"),
    lower("name").alias("ename_lower"),
    initcap("name").alias("ename_initcap")).show()

+-----------+-----------+-----------+-------------+
|       name|ename_upper|ename_lower|ename_initcap|
+-----------+-----------+-----------+-------------+
| Ravi Kumar| RAVI KUMAR| ravi kumar|   Ravi Kumar|
|Priya Reddy|PRIYA REDDY|priya reddy|  Priya Reddy|
|   John Doe|   JOHN DOE|   john doe|     John Doe|
|Kiran Kumar|KIRAN KUMAR|kiran kumar|  Kiran Kumar|
|Meera Priya|MEERA PRIYA|meera priya|  Meera Priya|
+-----------+-----------+-----------+-------------+

In [12]:
emp.select("ename",
          ltrim("ename").alias("Name_ltrim"),
          rtrim("ename").alias("Name_rtrim"),
          trim("ename").alias("Name_trim")
         ).show()

+------+----------+----------+---------+
| ename|Name_ltrim|Name_rtrim|Name_trim|
+------+----------+----------+---------+
| Smith|     Smith|     Smith|    Smith|
| Allen|     Allen|     Allen|    Allen|
|  Ward|      Ward|      Ward|     Ward|
| Jones|     Jones|     Jones|    Jones|
|Martin|    Martin|    Martin|   Martin|
+------+----------+----------+---------+

In [20]:


emp.select(
    "ename",
    substring("ename", 1, 3).alias("Name_first3")
).show()

+------+-----------+
| ename|Name_first3|
+------+-----------+
| Smith|        Smi|
| Allen|        All|
|  Ward|        War|
| Jones|        Jon|
|Martin|        Mar|
+------+-----------+

In [26]:
emp.select(
    "ename",
    substring("ename", -3,3).alias("Name_last3")
).show()

+------+-----------+
| ename|Name_first3|
+------+-----------+
| Smith|        ith|
| Allen|        len|
|  Ward|        ard|
| Jones|        nes|
|Martin|        tin|
+------+-----------+

In [29]:
emp.select("ename", 
          length("ename").alias("len")).show()

+------+---+
| ename|len|
+------+---+
| Smith|  5|
| Allen|  5|
|  Ward|  4|
| Jones|  5|
|Martin|  6|
+------+---+

In [30]:
emp.filter(length("ename") >4).show()

+------+------+-------+
|emp_id| ename|dept_id|
+------+------+-------+
|     1| Smith|     10|
|     2| Allen|     20|
|     4| Jones|     30|
|     5|Martin|   NULL|
+------+------+-------+

In [22]:
df.orderBy(length(col("name")).desc()).show()

+---+-----------+
| id|       name|
+---+-----------+
|  4|Kiran Kumar|
|  2|Priya Reddy|
|  5|Meera Priya|
|  1| Ravi Kumar|
|  3|   John Doe|
+---+-----------+

In [23]:
df.select(
        "name",
        substring("name", 1, 4).alias("name_substring")).show()

+-----------+--------------+
|       name|name_substring|
+-----------+--------------+
| Ravi Kumar|          Ravi|
|Priya Reddy|          Priy|
|   John Doe|          John|
|Kiran Kumar|          Kira|
|Meera Priya|          Meer|
+-----------+--------------+

In [24]:
df.select(
        "name",
        substring("name", 4,length("name")).alias("name_substring")).show()

+-----------+--------------+
|       name|name_substring|
+-----------+--------------+
| Ravi Kumar|       i Kumar|
|Priya Reddy|      ya Reddy|
|   John Doe|         n Doe|
|Kiran Kumar|      an Kumar|
|Meera Priya|      ra Priya|
+-----------+--------------+

In [25]:
df.select(
    concat("name", lit("_"), "id").alias("new")).show()

+-------------+
|          new|
+-------------+
| Ravi Kumar_1|
|Priya Reddy_2|
|   John Doe_3|
|Kiran Kumar_4|
|Meera Priya_5|
+-------------+

In [29]:
df.select(
    concat_ws("|","id", "name",lit('India'),lit("TN")).alias("id_name")).show(truncate=False)

+----------------------+
|id_name               |
+----------------------+
|1|Ravi Kumar|India|TN |
|2|Priya Reddy|India|TN|
|3|John Doe|India|TN   |
|4|Kiran Kumar|India|TN|
|5|Meera Priya|India|TN|
+----------------------+

In [30]:

df.select(
    regexp_replace(col("name"), "Ravi", "Ravindra").alias("name")
).show()

+--------------+
|          name|
+--------------+
|Ravindra Kumar|
|   Priya Reddy|
|      John Doe|
|   Kiran Kumar|
|   Meera Priya|
+--------------+

In [31]:
df.select(split("name", " ").alias("splitted")).show()

+--------------+
|      splitted|
+--------------+
| [Ravi, Kumar]|
|[Priya, Reddy]|
|   [John, Doe]|
|[Kiran, Kumar]|
|[Meera, Priya]|
+--------------+

In [35]:
emp.select(
    "ename",
    instr("ename", "Reddy").alias("Index")).show()

+-----------+-----+
|       name|Index|
+-----------+-----+
| Ravi Kumar|    0|
|Priya Reddy|    7|
|   John Doe|    0|
|Kiran Kumar|    0|
|Meera Priya|    0|
+-----------+-----+

In [40]:
df.select("name", substring("name",1,5).alias("first_name"),
                  substring("name",5 ,100).alias("last_name")).show()

+-----------+----------+---------+
|       name|first_name|last_name|
+-----------+----------+---------+
| Ravi Kumar|     Ravi |    Kumar|
|Priya Reddy|     Priya|  a Reddy|
|   John Doe|     John |      Doe|
|Kiran Kumar|     Kiran|  n Kumar|
|Meera Priya|     Meera|  a Priya|
+-----------+----------+---------+

In [44]:
df.select(
    "name",
    instr("name"," ").alias("pos"),
    substring("name", 1, instr("name", " ")-1).alias("First Name"),
    substring("name",  instr("name", " ")+1, length("name")).alias("Last Name")
).show()

+-----------+---+----------+---------+
|       name|pos|First Name|Last Name|
+-----------+---+----------+---------+
| Ravi Kumar|  5|      Ravi|    Kumar|
|Priya Reddy|  6|     Priya|    Reddy|
|   John Doe|  5|      John|      Doe|
|Kiran Kumar|  6|     Kiran|    Kumar|
|Meera Priya|  6|     Meera|    Priya|
+-----------+---+----------+---------+

In [32]:
data = [
    (1, "2025-05-19", "2025-12-15 14:25:00"),
    (2, "2024-05-20", "2025-11-01 09:10:30"),
    (3, "2024-05-21", "2025-07-30 20:45:10")
]

df = spark.createDataFrame(data, ["id", "order_date", "delivery_ts"])
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- delivery_ts: string (nullable = true)

In [34]:
df =df.withColumns( {"order_date": to_date("order_date"),
                 "delivery_ts":to_timestamp("delivery_ts")
                }
              )

In [35]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- order_date: date (nullable = true)
 |-- delivery_ts: timestamp (nullable = true)

In [37]:
df1 = spark.range(1)

In [39]:
df1.select ( current_date().alias("current_date"), 
            date_add(current_date(), 10).alias("current_date+10"),
             date_sub(current_date(), 10).alias("current_date-10") 
           ).show(truncate=False)

+------------+---------------+---------------+
|current_date|current_date+10|current_date-10|
+------------+---------------+---------------+
|2026-02-20  |2026-03-02     |2026-02-10     |
+------------+---------------+---------------+

In [74]:
df.show()

+---+----------+-------------------+
| id|order_date|        delivery_ts|
+---+----------+-------------------+
|  1|2025-05-19|2025-12-15 14:25:00|
|  2|2024-05-20|2025-11-01 09:10:30|
|  3|2024-05-21|2025-07-30 20:45:10|
+---+----------+-------------------+

In [40]:
df.select(
     "order_date",
    date_add("order_date", 10).alias("add_10_days"),
    date_sub("order_date", 5).alias("sub_5_days")
).show()

+----------+-----------+----------+
|order_date|add_10_days|sub_5_days|
+----------+-----------+----------+
|2025-05-19| 2025-05-29|2025-05-14|
|2024-05-20| 2024-05-30|2024-05-15|
|2024-05-21| 2024-05-31|2024-05-16|
+----------+-----------+----------+

In [41]:
df.select("order_date",
    add_months("order_date", 2).alias("add_2_months")
    
).show()

+----------+------------+
|order_date|add_2_months|
+----------+------------+
|2025-05-19|  2025-07-19|
|2024-05-20|  2024-07-20|
|2024-05-21|  2024-07-21|
+----------+------------+

In [42]:
df.select( "delivery_ts",
           "order_date",
            date_diff(col("delivery_ts") ,col("order_date"))
        
    
).show()

+-------------------+----------+----------------------------------+
|        delivery_ts|order_date|date_diff(delivery_ts, order_date)|
+-------------------+----------+----------------------------------+
|2025-12-15 14:25:00|2025-05-19|                               210|
|2025-11-01 09:10:30|2024-05-20|                               530|
|2025-07-30 20:45:10|2024-05-21|                               435|
+-------------------+----------+----------------------------------+

In [43]:
df.select(
    "order_date",
    dayname("order_date").alias("dayname"),
    year("order_date").alias("year"),
    quarter("order_date").alias("quater"),
    month("order_date").alias("month"),
    dayofweek("order_date").alias("day of week"),
    dayofmonth("order_date").alias("day"),
    dayofyear("order_date").alias("day of year"),
    weekofyear("order_date").alias("week of year"),
    last_day("order_date").alias("last_day_in_month"),
    hour("delivery_ts").alias("hour"),
    minute("delivery_ts").alias("minute"),
    second("delivery_ts").alias("second"),
    
    
).show()

+----------+-------+----+------+-----+-----------+---+-----------+------------+-----------------+----+------+------+
|order_date|dayname|year|quater|month|day of week|day|day of year|week of year|last_day_in_month|hour|minute|second|
+----------+-------+----+------+-----+-----------+---+-----------+------------+-----------------+----+------+------+
|2025-05-19|    Mon|2025|     2|    5|          2| 19|        139|          21|       2025-05-31|  14|    25|     0|
|2024-05-20|    Mon|2024|     2|    5|          2| 20|        141|          21|       2024-05-31|   9|    10|    30|
|2024-05-21|    Tue|2024|     2|    5|          3| 21|        142|          21|       2024-05-31|  20|    45|    10|
+----------+-------+----+------+-----+-----------+---+-----------+------------+-----------------+----+------+------+

In [45]:
df.select( date_format("order_date",'dd/MM/yyyy').alias("dd/mm/yyyy"),
           date_format("order_date",'MM').alias("year"),
         ).show()

+----------+----+
|dd/mm/yyyy|year|
+----------+----+
|19/05/2025|  05|
|20/05/2024|  05|
|21/05/2024|  05|
+----------+----+

In [56]:
df.select(
    "delivery_ts",
    "order_date",
    datediff("delivery_ts", "order_date").alias("days_diff")
).show()

+-------------------+----------+---------+
|        delivery_ts|order_date|days_diff|
+-------------------+----------+---------+
|2025-12-15 14:25:00|2025-05-19|      210|
|2025-11-01 09:10:30|2024-05-20|      530|
|2025-07-30 20:45:10|2024-05-21|      435|
+-------------------+----------+---------+

In [110]:
df.select(
    trunc("order_date", "MM").alias("first_day_month"),
    trunc("order_date", "YY").alias("first_day_year"),
   
).show()

+---------------+--------------+
|first_day_month|first_day_year|
+---------------+--------------+
|     2025-05-01|          NULL|
|     2024-05-01|          NULL|
|     2024-05-01|          NULL|
+---------------+--------------+

In [119]:
df1.select(
    date_format(current_date(), "EEEE").alias("date_full"),
    date_format(current_date(), "EEE").alias("date_full"),
    date_format(current_date(), "MMMM").alias("month_full"),
    date_format(current_date(), "MMM").alias("month_full"),
    date_format(current_date(), "Q").alias("qter"),
    date_format(current_date(), "QQ").alias("qtrer_2dig"),
    date_format(current_date(), "QQQQ").alias("month_full")
      
        ).show()

+---------+---------+----------+----------+----+----------+-----------+
|date_full|date_full|month_full|month_full|qter|qtrer_2dig| month_full|
+---------+---------+----------+----------+----+----------+-----------+
| Thursday|      Thu|  December|       Dec|   4|        04|4th quarter|
+---------+---------+----------+----------+----+----------+-----------+

In [60]:
data = [
    (1, 10.75, -5, 100),
    (2, 20.40, -15, 400),
    (3, 30.90, 12, 900)
]

df = spark.createDataFrame(data, ["id", "amount", "discount", "value"])
df.show()

+---+------+--------+-----+
| id|amount|discount|value|
+---+------+--------+-----+
|  1| 10.75|      -5|  100|
|  2|  20.4|     -15|  400|
|  3|  30.9|      12|  900|
+---+------+--------+-----+

In [48]:
df.select("amount", 
          round("amount",0).alias("round0"),
         round("amount",1).alias("round1")).show()

+------+------+------+
|amount|round0|round1|
+------+------+------+
| 10.75|  11.0|  10.8|
|  20.4|  20.0|  20.4|
|  30.9|  31.0|  30.9|
+------+------+------+

In [51]:
df.select("amount",
    ceil("amount").alias("ceil"), 
    floor("amount").alias("floor")).show()

+------+----+-----+
|amount|ceil|floor|
+------+----+-----+
| 10.75|  11|   10|
|  20.4|  21|   20|
|  30.9|  31|   30|
+------+----+-----+

In [52]:
df.select(
    "discount", 
    abs("discount").alias("abs_value")
   ).show()

+--------+---------+
|discount|abs_value|
+--------+---------+
|      -5|        5|
|     -15|       15|
|      12|       12|
+--------+---------+

In [124]:
df.select("value",
    pow("value", 2).alias("sqrt_via_pow"), 
    sqrt("value").alias("sqrt")
         ).show()

+-----+------------+----+
|value|sqrt_via_pow|sqrt|
+-----+------------+----+
|  100|     10000.0|10.0|
|  400|    160000.0|20.0|
|  900|    810000.0|30.0|
+-----+------------+----+

In [125]:
df.select(
    "value",
    log("value").alias("ln"),
    log2("value").alias("ln2"),
    log10("value").alias("ln10"),
    exp("amount").alias("exp_value")
).show()

+-----+-----------------+-----------------+------------------+--------------------+
|value|               ln|              ln2|              ln10|           exp_value|
+-----+-----------------+-----------------+------------------+--------------------+
|  100|4.605170185988092|6.643856189774725|               2.0|  46630.028453524326|
|  400|5.991464547107982|8.643856189774725|2.6020599913279625| 7.237814209482772E8|
|  900|6.802394763324311|9.813781191217037|2.9542425094393248|2.628448612801719E13|
+-----+-----------------+-----------------+------------------+--------------------+

In [126]:
df.select(
        greatest("amount", "discount", "value").alias("greatest"),
       least("amount", "discount", "value").alias("least")
       ).show()

+--------+-----+
|greatest|least|
+--------+-----+
|   100.0| -5.0|
|   400.0|-15.0|
|   900.0| 12.0|
+--------+-----+

In [56]:
df.describe("amount", "discount", "value").transpose().show()

+--------+-----+----+-------------------+-----+------------------+
|     key|count| max|               mean|  min|            stddev|
+--------+-----+----+-------------------+-----+------------------+
|  amount|    3|30.9| 20.683333333333334|10.75|10.077987563662367|
|discount|    3|  12|-2.6666666666666665|  -15|13.650396819628847|
|   value|    3| 900|  466.6666666666667|  100|404.14518843273805|
+--------+-----+----+-------------------+-----+------------------+

In [61]:
df.select(
    sum("amount"),
    avg("amount"),
    min("amount"),
    max("amount"),
    stddev("amount")
).show()

+-----------+------------------+-----------+-----------+------------------+
|sum(amount)|       avg(amount)|min(amount)|max(amount)|    stddev(amount)|
+-----------+------------------+-----------+-----------+------------------+
|      62.05|20.683333333333334|      10.75|       30.9|10.077987563662367|
+-----------+------------------+-----------+-----------+------------------+

In [57]:
df.select(
    monotonically_increasing_id().alias("row_id"), 
    "*").show()

+----------+---+------+--------+-----+
|    row_id| id|amount|discount|value|
+----------+---+------+--------+-----+
|         0|  1| 10.75|      -5|  100|
|8589934592|  2|  20.4|     -15|  400|
|8589934593|  3|  30.9|      12|  900|
+----------+---+------+--------+-----+

In [62]:
data = [
    (101, "Ravi",   "HR",       50000),
    (102, "Priya",  "Finance",  60000),
    (103, "John",   "IT",       45000),
    (104, "Kiran",  "HR",       55000),
    (105, "Meera",  "Finance",  65000),
    (106, "Ajay",   "IT",       48000)
]

df = spark.createDataFrame(data, ["id", "name", "dept", "salary"])
df.show()

+---+-----+-------+------+
| id| name|   dept|salary|
+---+-----+-------+------+
|101| Ravi|     HR| 50000|
|102|Priya|Finance| 60000|
|103| John|     IT| 45000|
|104|Kiran|     HR| 55000|
|105|Meera|Finance| 65000|
|106| Ajay|     IT| 48000|
+---+-----+-------+------+

In [66]:
df.groupBy("dept").agg(sum("salary").alias("Total_Sal")).show()

+-------+---------+
|   dept|Total_Sal|
+-------+---------+
|     HR|   105000|
|Finance|   125000|
|     IT|    93000|
+-------+---------+

In [69]:
df.groupBy("dept").agg(sum("salary").alias("total_sal"),
                       max("salary").alias("max_sal"),
                       min("salary").alias("min_sal"),
                       avg("salary").alias("avg_sal"),
                       count("salary").alias("count_sal")).filter(col("total_sal") >100000).show()

+-------+---------+-------+-------+-------+---------+
|   dept|total_sal|max_sal|min_sal|avg_sal|count_sal|
+-------+---------+-------+-------+-------+---------+
|     HR|   105000|  55000|  50000|52500.0|        2|
|Finance|   125000|  65000|  60000|62500.0|        2|
+-------+---------+-------+-------+-------+---------+

In [90]:
df.groupBy("dept") \
  .agg(avg("salary").alias("avg_sal")) \
  .filter(col("avg_sal") > 55000) \
  .show()

+-------+-------+
|   dept|avg_sal|
+-------+-------+
|Finance|62500.0|
+-------+-------+

In [70]:
df.groupBy("name").pivot("dept").agg(sum("salary")).fillna(0).show()

+-----+-------+-----+-----+
| name|Finance|   HR|   IT|
+-----+-------+-----+-----+
| Ravi|      0|50000|    0|
|Meera|  65000|    0|    0|
| Ajay|      0|    0|48000|
|Priya|  60000|    0|    0|
| John|      0|    0|45000|
|Kiran|      0|55000|    0|
+-----+-------+-----+-----+

In [77]:
col='order_id int, order_date timestamp, customer_id int, status string'
ord_df = spark.read.csv('c:\data\Orders',col)

In [96]:
ord_df.groupBy("status", year("order_date").alias("order_year"))\
    .agg(count("status").alias("order_count")).show()

+---------------+----------+-----------+
|         status|order_year|order_count|
+---------------+----------+-----------+
|        ON_HOLD|      2014|       2147|
|PENDING_PAYMENT|      2013|       6749|
|        ON_HOLD|      2013|       1651|
|        PENDING|      2013|       3380|
|       CANCELED|      2014|        791|
|        PENDING|      2014|       4230|
|       COMPLETE|      2014|      12749|
|     PROCESSING|      2013|       3617|
|PENDING_PAYMENT|      2014|       8281|
|SUSPECTED_FRAUD|      2014|        862|
|SUSPECTED_FRAUD|      2013|        696|
|     PROCESSING|      2014|       4658|
| PAYMENT_REVIEW|      2014|        421|
|         CLOSED|      2014|       4082|
| PAYMENT_REVIEW|      2013|        308|
|         CLOSED|      2013|       3474|
|       COMPLETE|      2013|      10150|
|       CANCELED|      2013|        637|
+---------------+----------+-----------+

In [97]:
df_agg=df.groupBy("dept").agg(sum("salary").alias("total_sal"),
                       max("salary").alias("max_sal"),
                       min("salary").alias("min_sal"),
                       avg("salary").alias("avg_sal"),
                       count("salary").alias("count_sal")).show()

+-------+---------+-------+-------+-------+---------+
|   dept|total_sal|max_sal|min_sal|avg_sal|count_sal|
+-------+---------+-------+-------+-------+---------+
|     HR|   105000|  55000|  50000|52500.0|        2|
|Finance|   125000|  65000|  60000|62500.0|        2|
|     IT|    93000|  48000|  45000|46500.0|        2|
+-------+---------+-------+-------+-------+---------+

In [144]:
ord_df =spark.read.csv('c:/data/Orders',
               "order_id int,order_date date,customer_id int, order_status string")

In [149]:
ord_df.show(5)

+--------+----------+-----------+---------------+
|order_id|order_date|customer_id|   order_status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       5|2013-07-25|      11318|       COMPLETE|
+--------+----------+-----------+---------------+
only showing top 5 rows

In [150]:
ord_df.groupBy("order_status").count().show()

+---------------+-----+
|   order_status|count|
+---------------+-----+
|PENDING_PAYMENT|15030|
|       COMPLETE|22899|
|        ON_HOLD| 3798|
| PAYMENT_REVIEW|  729|
|     PROCESSING| 8275|
|         CLOSED| 7556|
|SUSPECTED_FRAUD| 1558|
|        PENDING| 7610|
|       CANCELED| 1428|
+---------------+-----+

In [102]:
col="order_item_id int ,order_id int ,product_id int,quantity int,sub_total float,price float"
ordItems_df =spark.read.csv("c:/data/OrderItems",col
    )

In [152]:
ordItems_df.show(5)

+-------------+--------+----------+--------+---------+------+
|order_item_id|order_id|product_id|quantity|sub_total| price|
+-------------+--------+----------+--------+---------+------+
|            1|       1|       957|       1|   299.98|299.98|
|            2|       2|      1073|       1|   199.99|199.99|
|            3|       2|       502|       5|    250.0|  50.0|
|            4|       2|       403|       1|   129.99|129.99|
|            5|       4|       897|       2|    49.98| 24.99|
+-------------+--------+----------+--------+---------+------+
only showing top 5 rows

In [103]:
join_df = ord_df.join(ordItems_df , "order_id","inner")

In [154]:
join_df.show(4)

+--------+----------+-----------+---------------+-------------+----------+--------+---------+------+
|order_id|order_date|customer_id|   order_status|order_item_id|product_id|quantity|sub_total| price|
+--------+----------+-----------+---------------+-------------+----------+--------+---------+------+
|       1|2013-07-25|      11599|         CLOSED|            1|       957|       1|   299.98|299.98|
|       2|2013-07-25|        256|PENDING_PAYMENT|            2|      1073|       1|   199.99|199.99|
|       2|2013-07-25|        256|PENDING_PAYMENT|            3|       502|       5|    250.0|  50.0|
|       2|2013-07-25|        256|PENDING_PAYMENT|            4|       403|       1|   129.99|129.99|
+--------+----------+-----------+---------------+-------------+----------+--------+---------+------+
only showing top 4 rows

In [107]:

agg_df = join_df.groupBy("status") \
    .agg(
        sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
        sum("quantity").alias("total_qty"),
    )

agg_df.show(truncate=False)

+---------------+-------------+---------+
|status         |total_revenue|total_qty|
+---------------+-------------+---------+
|PENDING_PAYMENT|7581671.20   |82935    |
|COMPLETE       |11276933.91  |123873   |
|ON_HOLD        |1864731.28   |20414    |
|PAYMENT_REVIEW |357841.46    |4013     |
|PROCESSING     |4190636.84   |45622    |
|CLOSED         |3736048.86   |40510    |
|SUSPECTED_FRAUD|766844.69    |8429     |
|PENDING        |3851881.36   |42260    |
|CANCELED       |696031.00    |7702     |
+---------------+-------------+---------+

In [156]:
agg_df = join_df.groupBy("order_status","product_id") \
    .agg(
        sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
        sum("quantity").alias("total_qty"),
    ).orderBy("order_status")

agg_df.show(truncate=False)

+------------+----------+-------------+---------+
|order_status|product_id|total_revenue|total_qty|
+------------+----------+-------------+---------+
|CANCELED    |823       |831.84       |16       |
|CANCELED    |715       |259.98       |2        |
|CANCELED    |775       |219.78       |22       |
|CANCELED    |926       |271.83       |17       |
|CANCELED    |191       |80691.93     |807      |
|CANCELED    |135       |418.00       |19       |
|CANCELED    |771       |479.88       |12       |
|CANCELED    |249       |989.46       |18       |
|CANCELED    |957       |80094.66     |267      |
|CANCELED    |825       |511.84       |16       |
|CANCELED    |365       |85785.70     |1430     |
|CANCELED    |359       |699.93       |7        |
|CANCELED    |642       |870.00       |29       |
|CANCELED    |306       |629.93       |7        |
|CANCELED    |134       |325.00       |13       |
|CANCELED    |885       |524.79       |21       |
|CANCELED    |728       |2145.00      |33       |
|CANCELED    |828       |447.86       |14       |
|CANCELED    |235       |664.81       |19       |
|CANCELED    |893       |74.97        |3        |
+------------+----------+-------------+---------+
only showing top 20 rows

In [157]:
agg_df = join_df.groupBy("order_date") \
    .agg(
        sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
        sum("quantity").alias("total_qty"),
    )

agg_df.show(truncate=False)

+----------+-------------+---------+
|order_date|total_revenue|total_qty|
+----------+-------------+---------+
|2013-09-09|124454.49    |1336     |
|2013-09-19|99324.38     |1100     |
|2014-06-03|58634.88     |632      |
|2013-09-12|89120.48     |951      |
|2014-01-24|86299.03     |944      |
|2014-02-16|116039.55    |1262     |
|2014-06-11|71742.39     |795      |
|2013-11-18|94744.59     |1038     |
|2014-02-18|104887.89    |1252     |
|2013-08-14|103939.26    |1093     |
|2013-10-05|105913.05    |1156     |
|2014-07-04|80105.76     |895      |
|2014-07-06|54898.37     |618      |
|2013-09-18|115217.08    |1313     |
|2013-09-20|82662.51     |900      |
|2013-09-25|141775.64    |1609     |
|2014-06-13|128392.34    |1391     |
|2013-11-23|128024.84    |1446     |
|2013-09-14|135308.52    |1518     |
|2014-02-24|93628.83     |1028     |
+----------+-------------+---------+
only showing top 20 rows

In [158]:
agg_df = join_df.groupBy(year("order_date").alias("order_year")) \
    .agg(
        sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
        sum("quantity").alias("total_qty"),
    )

agg_df.show(truncate=False)

+----------+-------------+---------+
|order_year|total_revenue|total_qty|
+----------+-------------+---------+
|2013      |15254189.37  |167409   |
|2014      |19068431.23  |208349   |
+----------+-------------+---------+

In [113]:
agg_df = join_df.groupBy(year("order_date").alias("order_year"),
                         monthname("order_date").alias("order_month"),
                        month("order_date")) \
    .agg(
        sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
        sum("quantity").alias("total_qty"),
    ).orderBy(year("order_date"), month("order_date"))

agg_df.drop("month(order_date)").show()

+----------+-----------+-------------+---------+
|order_year|order_month|total_revenue|total_qty|
+----------+-----------+-------------+---------+
|      2013|        Jul|    764782.20|     8421|
|      2013|        Aug|   2828658.75|    31311|
|      2013|        Sep|   2934527.33|    32147|
|      2013|        Oct|   2624600.66|    28904|
|      2013|        Nov|   3168656.09|    34705|
|      2013|        Dec|   2932964.33|    31921|
|      2014|        Jan|   2924447.07|    31769|
|      2014|        Feb|   2778663.71|    30638|
|      2014|        Mar|   2862492.27|    31221|
|      2014|        Apr|   2807789.85|    30820|
|      2014|        May|   2753078.27|    30104|
|      2014|        Jun|   2703463.49|    29466|
|      2014|        Jul|   2238496.56|    24331|
+----------+-----------+-------------+---------+

In [120]:
agg_df = join_df.groupBy(year("order_date").alias("order_year"),
                         monthname("order_date").alias("order_month"),
                        month("order_date").alias("order_month_no")) \
    .agg(
        sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
        sum("quantity").alias("total_qty"),
    ).orderBy("order_year","order_month_no")
agg_df.drop("order_month_no").show()

+----------+-----------+-------------+---------+
|order_year|order_month|total_revenue|total_qty|
+----------+-----------+-------------+---------+
|      2013|        Jul|    764782.20|     8421|
|      2013|        Aug|   2828658.75|    31311|
|      2013|        Sep|   2934527.33|    32147|
|      2013|        Oct|   2624600.66|    28904|
|      2013|        Nov|   3168656.09|    34705|
|      2013|        Dec|   2932964.33|    31921|
|      2014|        Jan|   2924447.07|    31769|
|      2014|        Feb|   2778663.71|    30638|
|      2014|        Mar|   2862492.27|    31221|
|      2014|        Apr|   2807789.85|    30820|
|      2014|        May|   2753078.27|    30104|
|      2014|        Jun|   2703463.49|    29466|
|      2014|        Jul|   2238496.56|    24331|
+----------+-----------+-------------+---------+

In [159]:
from pyspark.sql.functions import year, monthname, sum, col

result_df = (
    join_df
        .groupBy(
            year("order_date").alias("order_year"),
            monthname("order_date").alias("order_month")
        )
        .agg(
            sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
            sum("quantity").alias("total_qty")
        )
        .filter(col("total_qty") > 30000)     
)

result_df.show(truncate=False)

+----------+-----------+-------------+---------+
|order_year|order_month|total_revenue|total_qty|
+----------+-----------+-------------+---------+
|2013      |Nov        |3168656.09   |34705    |
|2014      |May        |2753078.27   |30104    |
|2013      |Aug        |2828658.75   |31311    |
|2014      |Mar        |2862492.27   |31221    |
|2013      |Sep        |2934527.33   |32147    |
|2014      |Feb        |2778663.71   |30638    |
|2014      |Apr        |2807789.85   |30820    |
|2013      |Dec        |2932964.33   |31921    |
|2014      |Jan        |2924447.07   |31769    |
+----------+-----------+-------------+---------+

In [167]:


result_df = (
    join_df
        .groupBy(
            year("order_date").alias("order_year"),
            
            quarter("order_date").alias("order_qtr"),
            
            
            date_format("order_date", "MMMM").alias("order_month")   # FULL MONTH NAME
        )
        .agg(
            sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
            sum("quantity").alias("total_qty")
        ).orderBy("order_year", "order_qtr","order_month")   # HAVING
)

result_df.show(40,truncate=False)

+----------+---------+-----------+-------------+---------+
|order_year|order_qtr|order_month|total_revenue|total_qty|
+----------+---------+-----------+-------------+---------+
|2013      |3        |August     |2828658.75   |31311    |
|2013      |3        |July       |764782.20    |8421     |
|2013      |3        |September  |2934527.33   |32147    |
|2013      |4        |December   |2932964.33   |31921    |
|2013      |4        |November   |3168656.09   |34705    |
|2013      |4        |October    |2624600.66   |28904    |
|2014      |1        |February   |2778663.71   |30638    |
|2014      |1        |January    |2924447.07   |31769    |
|2014      |1        |March      |2862492.27   |31221    |
|2014      |2        |April      |2807789.85   |30820    |
|2014      |2        |June       |2703463.49   |29466    |
|2014      |2        |May        |2753078.27   |30104    |
|2014      |3        |July       |2238496.56   |24331    |
+----------+---------+-----------+-------------+---------+

In [168]:

result_df = (
    join_df
        .groupBy(
            year("order_date").alias("order_year"),
            quarter("order_date").alias("order_qtr"),
            
            date_format("order_date", "MMMM").alias("order_month"),   # Full month
            month("order_date").alias("order_month_num")              # Numeric month for sorting
        )
        .agg(
            sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
            sum("quantity").alias("total_qty")
        )
        .orderBy("order_year","order_qtr", "order_month_num")  # Correct month ordering
        .drop("order_month_num")                   # Clean final output
)

result_df.show(40, truncate=False)

+----------+---------+-----------+-------------+---------+
|order_year|order_qtr|order_month|total_revenue|total_qty|
+----------+---------+-----------+-------------+---------+
|2013      |3        |July       |764782.20    |8421     |
|2013      |3        |August     |2828658.75   |31311    |
|2013      |3        |September  |2934527.33   |32147    |
|2013      |4        |October    |2624600.66   |28904    |
|2013      |4        |November   |3168656.09   |34705    |
|2013      |4        |December   |2932964.33   |31921    |
|2014      |1        |January    |2924447.07   |31769    |
|2014      |1        |February   |2778663.71   |30638    |
|2014      |1        |March      |2862492.27   |31221    |
|2014      |2        |April      |2807789.85   |30820    |
|2014      |2        |May        |2753078.27   |30104    |
|2014      |2        |June       |2703463.49   |29466    |
|2014      |3        |July       |2238496.56   |24331    |
+----------+---------+-----------+-------------+---------+

In [169]:
result_df = (
    join_df
        .groupBy(
            year("order_date").alias("order_year"),
            quarter("order_date").alias("order_qtr"),
            
            
        )
        .agg(
            sum("sub_total").cast("decimal(20,2)").alias("total_revenue"),
            sum("quantity").alias("total_qty")
        )
        .orderBy("order_year","order_qtr" )  # Correct month ordering
        
)

result_df.show(40, truncate=False)

+----------+---------+-------------+---------+
|order_year|order_qtr|total_revenue|total_qty|
+----------+---------+-------------+---------+
|2013      |3        |6527968.29   |71879    |
|2013      |4        |8726221.08   |95530    |
|2014      |1        |8565603.05   |93628    |
|2014      |2        |8264331.62   |90390    |
|2014      |3        |2238496.56   |24331    |
+----------+---------+-------------+---------+

In [2]:

from pyspark.sql.window import Window



data = [
    (1, "Ravi", "HR", 50000),
    (2, "Ravi", "HR", 52000),
    (3, "Priya", "Finance", 60000),
    (4, "John", "IT", 45000),
    (5, "John", "IT", 48000),
    (6, "John", "IT", 50000),
]

df = spark.createDataFrame(data, ["id", "name", "dept", "salary"])
df.show()

+---+-----+-------+------+
| id| name|   dept|salary|
+---+-----+-------+------+
|  1| Ravi|     HR| 50000|
|  2| Ravi|     HR| 52000|
|  3|Priya|Finance| 60000|
|  4| John|     IT| 45000|
|  5| John|     IT| 48000|
|  6| John|     IT| 50000|
+---+-----+-------+------+

In [5]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *

In [7]:
w =Window.orderBy(col("salary").desc())
df.withColumn("row_number", row_number().over(w)).show()

+---+-----+-------+------+----------+
| id| name|   dept|salary|row_number|
+---+-----+-------+------+----------+
|  3|Priya|Finance| 60000|         1|
|  2| Ravi|     HR| 52000|         2|
|  1| Ravi|     HR| 50000|         3|
|  6| John|     IT| 50000|         4|
|  5| John|     IT| 48000|         5|
|  4| John|     IT| 45000|         6|
+---+-----+-------+------+----------+

In [8]:
w =Window.partitionBy("dept"). orderBy("salary")
df.withColumn("row_number", row_number().over(w)).show()

+---+-----+-------+------+----------+
| id| name|   dept|salary|row_number|
+---+-----+-------+------+----------+
|  3|Priya|Finance| 60000|         1|
|  1| Ravi|     HR| 50000|         1|
|  2| Ravi|     HR| 52000|         2|
|  4| John|     IT| 45000|         1|
|  5| John|     IT| 48000|         2|
|  6| John|     IT| 50000|         3|
+---+-----+-------+------+----------+

In [10]:
w = Window.partitionBy("dept").orderBy(col("salary").desc())

df.withColumn("emp_rank", rank().over(w)).show()

+---+-----+-------+------+--------+
| id| name|   dept|salary|emp_rank|
+---+-----+-------+------+--------+
|  3|Priya|Finance| 60000|       1|
|  2| Ravi|     HR| 52000|       1|
|  1| Ravi|     HR| 50000|       2|
|  6| John|     IT| 50000|       1|
|  5| John|     IT| 48000|       2|
|  4| John|     IT| 45000|       3|
+---+-----+-------+------+--------+

In [13]:
w = Window.orderBy(col("salary").desc())

df.select(
    "*",
    row_number().over(w).alias("row_num")
).show()

+---+-----+-------+------+-------+
| id| name|   dept|salary|row_num|
+---+-----+-------+------+-------+
|  3|Priya|Finance| 60000|      1|
|  2| Ravi|     HR| 52000|      2|
|  1| Ravi|     HR| 50000|      3|
|  6| John|     IT| 50000|      4|
|  5| John|     IT| 48000|      5|
|  4| John|     IT| 45000|      6|
+---+-----+-------+------+-------+

In [148]:
w = Window.partitionBy("dept").orderBy(col("salary").desc())

df.select(
    "*",
    row_number().over(w).alias("row_num")
).show()

+---+-----+-------+------+-------+
| id| name|   dept|salary|row_num|
+---+-----+-------+------+-------+
|  3|Priya|Finance| 60000|      1|
|  2| Ravi|     HR| 52000|      1|
|  1| Ravi|     HR| 50000|      2|
|  6| John|     IT| 50000|      1|
|  5| John|     IT| 48000|      2|
|  4| John|     IT| 45000|      3|
+---+-----+-------+------+-------+

In [15]:
w =Window.orderBy(col("salary").desc())

df.select(
    "*",
 dense_rank().over(w).alias("emp_rank")
).show()

+---+-----+-------+------+--------+
| id| name|   dept|salary|emp_rank|
+---+-----+-------+------+--------+
|  3|Priya|Finance| 60000|       1|
|  2| Ravi|     HR| 52000|       2|
|  1| Ravi|     HR| 50000|       3|
|  6| John|     IT| 50000|       3|
|  5| John|     IT| 48000|       4|
|  4| John|     IT| 45000|       5|
+---+-----+-------+------+--------+

In [152]:
w = Window.partitionBy("dept").orderBy(col("salary").desc())

df.select(
    "*",
    rank().over(w).alias("rank")
).show()

+---+-----+-------+------+----+
| id| name|   dept|salary|rank|
+---+-----+-------+------+----+
|  3|Priya|Finance| 60000|   1|
|  2| Ravi|     HR| 52000|   1|
|  1| Ravi|     HR| 50000|   2|
|  6| John|     IT| 50000|   1|
|  5| John|     IT| 48000|   2|
|  4| John|     IT| 45000|   3|
+---+-----+-------+------+----+

In [181]:
w = Window.orderBy(col("salary").desc())

df.select(
    "*",
    dense_rank().over(w).alias("dense_rank")
).show()

+---+-----+-------+------+----------+
| id| name|   dept|salary|dense_rank|
+---+-----+-------+------+----------+
|  3|Priya|Finance| 60000|         1|
|  2| Ravi|     HR| 52000|         2|
|  1| Ravi|     HR| 50000|         3|
|  6| John|     IT| 50000|         3|
|  5| John|     IT| 48000|         4|
|  4| John|     IT| 45000|         5|
+---+-----+-------+------+----------+

In [16]:
w = Window.orderBy(col("salary").desc())

df.select(
    "*",
    lag("salary",1).over(w).alias("lag_sal")
).show()

+---+-----+-------+------+-------+
| id| name|   dept|salary|lag_sal|
+---+-----+-------+------+-------+
|  3|Priya|Finance| 60000|   NULL|
|  2| Ravi|     HR| 52000|  60000|
|  1| Ravi|     HR| 50000|  52000|
|  6| John|     IT| 50000|  50000|
|  5| John|     IT| 48000|  50000|
|  4| John|     IT| 45000|  48000|
+---+-----+-------+------+-------+

In [17]:

df.select(
    "*",
    lead("salary").over(w).alias("lead_sal")
).show()

+---+-----+-------+------+--------+
| id| name|   dept|salary|lead_sal|
+---+-----+-------+------+--------+
|  3|Priya|Finance| 60000|   52000|
|  2| Ravi|     HR| 52000|   50000|
|  1| Ravi|     HR| 50000|   50000|
|  6| John|     IT| 50000|   48000|
|  5| John|     IT| 48000|   45000|
|  4| John|     IT| 45000|    NULL|
+---+-----+-------+------+--------+

In [18]:
df.select(
    "*",
    first_value("salary").over(w).alias("first_sal")
).show()

+---+-----+-------+------+---------+
| id| name|   dept|salary|first_sal|
+---+-----+-------+------+---------+
|  3|Priya|Finance| 60000|    60000|
|  2| Ravi|     HR| 52000|    60000|
|  1| Ravi|     HR| 50000|    60000|
|  6| John|     IT| 50000|    60000|
|  5| John|     IT| 48000|    60000|
|  4| John|     IT| 45000|    60000|
+---+-----+-------+------+---------+

In [19]:
df.select(
    "*",
    last_value("salary").over(w).alias("first_sal")
).show()

+---+-----+-------+------+---------+
| id| name|   dept|salary|first_sal|
+---+-----+-------+------+---------+
|  3|Priya|Finance| 60000|    60000|
|  2| Ravi|     HR| 52000|    52000|
|  1| Ravi|     HR| 50000|    50000|
|  6| John|     IT| 50000|    50000|
|  5| John|     IT| 48000|    48000|
|  4| John|     IT| 45000|    45000|
+---+-----+-------+------+---------+

In [20]:
w = Window.orderBy(col("salary").desc()).rowsBetween(Window.unboundedPreceding, Window.unboundedFollowing)

df.select(
    "*",
    last_value("salary").over(w).alias("first_sal")
).show()

+---+-----+-------+------+---------+
| id| name|   dept|salary|first_sal|
+---+-----+-------+------+---------+
|  3|Priya|Finance| 60000|    45000|
|  2| Ravi|     HR| 52000|    45000|
|  1| Ravi|     HR| 50000|    45000|
|  6| John|     IT| 50000|    45000|
|  5| John|     IT| 48000|    45000|
|  4| John|     IT| 45000|    45000|
+---+-----+-------+------+---------+

In [21]:
w = Window.orderBy(col("salary").desc()).rowsBetween(Window.unboundedPreceding, Window.unboundedFollowing)
df.select(
    "*",
    sum("salary").over(w).alias("sum_sal"),
    avg("salary").over(w).alias("avg_sal"),
    max("salary").over(w).alias("max_sal"),
    min("salary").over(w).alias("min_sal"),
    
    (col("salary")/ col("sum_sal") *100).alias("sal_perc") 
).show()

+---+-----+-------+------+-------+------------------+-------+-------+------------------+
| id| name|   dept|salary|sum_sal|           avg_sal|max_sal|min_sal|          sal_perc|
+---+-----+-------+------+-------+------------------+-------+-------+------------------+
|  3|Priya|Finance| 60000| 305000|50833.333333333336|  60000|  45000|19.672131147540984|
|  2| Ravi|     HR| 52000| 305000|50833.333333333336|  60000|  45000| 17.04918032786885|
|  1| Ravi|     HR| 50000| 305000|50833.333333333336|  60000|  45000| 16.39344262295082|
|  6| John|     IT| 50000| 305000|50833.333333333336|  60000|  45000| 16.39344262295082|
|  5| John|     IT| 48000| 305000|50833.333333333336|  60000|  45000|15.737704918032788|
|  4| John|     IT| 45000| 305000|50833.333333333336|  60000|  45000|14.754098360655737|
+---+-----+-------+------+-------+------------------+-------+-------+------------------+

In [22]:
w = Window.orderBy(col("id").asc()).rowsBetween(Window.unboundedPreceding, Window.currentRow)
df.select(
    "*",
    sum("salary").over(w).alias("sum_sal")
).show()

+---+-----+-------+------+-------+
| id| name|   dept|salary|sum_sal|
+---+-----+-------+------+-------+
|  1| Ravi|     HR| 50000|  50000|
|  2| Ravi|     HR| 52000| 102000|
|  3|Priya|Finance| 60000| 162000|
|  4| John|     IT| 45000| 207000|
|  5| John|     IT| 48000| 255000|
|  6| John|     IT| 50000| 305000|
+---+-----+-------+------+-------+

In [23]:
w = Window.orderBy(col("id").asc()).rowsBetween(Window.unboundedPreceding, Window.currentRow)
df.select(
    "*",
    avg("salary").over(w).alias("avg_sal")
).show()

+---+-----+-------+------+------------------+
| id| name|   dept|salary|           avg_sal|
+---+-----+-------+------+------------------+
|  1| Ravi|     HR| 50000|           50000.0|
|  2| Ravi|     HR| 52000|           51000.0|
|  3|Priya|Finance| 60000|           54000.0|
|  4| John|     IT| 45000|           51750.0|
|  5| John|     IT| 48000|           51000.0|
|  6| John|     IT| 50000|50833.333333333336|
+---+-----+-------+------+------------------+

In [24]:
w = Window.orderBy(col("id").asc()).rowsBetween(-2, 0)
df.select(
    "*",
    sum("salary").over(w).alias("sum_sal")
).show()

+---+-----+-------+------+-------+
| id| name|   dept|salary|sum_sal|
+---+-----+-------+------+-------+
|  1| Ravi|     HR| 50000|  50000|
|  2| Ravi|     HR| 52000| 102000|
|  3|Priya|Finance| 60000| 162000|
|  4| John|     IT| 45000| 157000|
|  5| John|     IT| 48000| 153000|
|  6| John|     IT| 50000| 143000|
+---+-----+-------+------+-------+

In [25]:
w = Window.orderBy(col("salary").desc())

df.select(
    "*",
    dense_rank().over(w).alias("emp_rank")
).filter(col("emp_rank") <=3).show()

+---+-----+-------+------+--------+
| id| name|   dept|salary|emp_rank|
+---+-----+-------+------+--------+
|  3|Priya|Finance| 60000|       1|
|  2| Ravi|     HR| 52000|       2|
|  1| Ravi|     HR| 50000|       3|
|  6| John|     IT| 50000|       3|
+---+-----+-------+------+--------+

In [27]:
w = Window.orderBy(col("salary").desc())

df.select(
    "*",
    dense_rank().over(w).alias("emp_rank")
).filter(col("emp_rank") ==2).show()

+---+----+----+------+--------+
| id|name|dept|salary|emp_rank|
+---+----+----+------+--------+
|  2|Ravi|  HR| 52000|       2|
+---+----+----+------+--------+

In [192]:
df.rdd.getNumPartitions()

2

In [29]:
df.show()

+---+-----+-------+------+
| id| name|   dept|salary|
+---+-----+-------+------+
|  1| Ravi|     HR| 50000|
|  2| Ravi|     HR| 52000|
|  3|Priya|Finance| 60000|
|  4| John|     IT| 45000|
|  5| John|     IT| 48000|
|  6| John|     IT| 50000|
+---+-----+-------+------+

In [28]:
df.coalesce(1).write \
  .mode("overwrite") \
  .option("header", "true") \
  .csv("c:/data/emp_rank")

In [194]:
spark.read.csv("c:/data/emp_rank",header=True).show()

+---+-----+-------+------+
| id| name|   dept|salary|
+---+-----+-------+------+
|  1| Ravi|     HR| 50000|
|  2| Ravi|     HR| 52000|
|  3|Priya|Finance| 60000|
|  4| John|     IT| 45000|
|  5| John|     IT| 48000|
|  6| John|     IT| 50000|
+---+-----+-------+------+

In [30]:
df.write \
  .mode("overwrite") \
  .parquet("c:/data/output_parquet")

In [31]:
df = spark.read.parquet("c:/data/output_parquet")
df.show()

+---+-----+-------+------+
| id| name|   dept|salary|
+---+-----+-------+------+
|  1| Ravi|     HR| 50000|
|  2| Ravi|     HR| 52000|
|  3|Priya|Finance| 60000|
|  4| John|     IT| 45000|
|  5| John|     IT| 48000|
|  6| John|     IT| 50000|
+---+-----+-------+------+

In [32]:
df.write \
  .mode("overwrite") \
  .json("c:/data/output_json")

In [33]:
df = spark.read.json("c:/data/output_json")
df.show()

+-------+---+-----+------+
|   dept| id| name|salary|
+-------+---+-----+------+
|     HR|  1| Ravi| 50000|
|     HR|  2| Ravi| 52000|
|Finance|  3|Priya| 60000|
|     IT|  4| John| 45000|
|     IT|  5| John| 48000|
|     IT|  6| John| 50000|
+-------+---+-----+------+

In [37]:
df.write \
  .mode("overwrite") \
  .orc("c:/data/output_orc")

In [38]:
df = spark.read.orc("c:/data/output_orc")
df.show()

+-------+---+-----+------+
|   dept| id| name|salary|
+-------+---+-----+------+
|     HR|  1| Ravi| 50000|
|     HR|  2| Ravi| 52000|
|Finance|  3|Priya| 60000|
|     IT|  4| John| 45000|
|     IT|  5| John| 48000|
|     IT|  6| John| 50000|
+-------+---+-----+------+

In [39]:

df.write \
  .option("header", "true") \
  .option("compression", "gzip") \
  .mode("overwrite")\
  .csv("c:/data/output_csv_gzip")

In [40]:
df = spark.read\
  .csv("c:/data/output_csv_gzip", header=True)
df.show()

+-------+---+-----+------+
|   dept| id| name|salary|
+-------+---+-----+------+
|     HR|  1| Ravi| 50000|
|     HR|  2| Ravi| 52000|
|Finance|  3|Priya| 60000|
|     IT|  4| John| 45000|
|     IT|  5| John| 48000|
|     IT|  6| John| 50000|
+-------+---+-----+------+

In [41]:
df.write \
  .mode("overwrite") \
  .partitionBy("dept") \
  .parquet("c:/data/output_partitioned")

In [204]:
df = spark.read.parquet("c:/data/output_partitioned")
df.show()

+-------+---+------+-----+
|   dept| id|salary| name|
+-------+---+------+-----+
|     IT|  4| 45000| John|
|     IT|  5| 48000| John|
|     IT|  6| 50000| John|
|Finance|  3| 60000|Priya|
|     HR|  1| 50000| Ravi|
|     HR|  2| 52000| Ravi|
+-------+---+------+-----+

In [44]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
        .appName("OracleReadDemo")
        .master("local[*]")
        # Add JAR to Spark
        .config("spark.jars", r"C:\data\ojdbc11-21.3.0.0.jar")
        .getOrCreate()
)

In [45]:
conn = "jdbc:oracle:thin:@//localhost:1521/XE"
oracle_props = {
    "user": "HR",
    "password": "admin123",
    "driver": "oracle.jdbc.OracleDriver"}

df_employees = spark.read \
    .format("jdbc") \
    .option("url", conn) \
    .option("dbtable", "EMPLOYEES") \
    .options(**oracle_props) \
    .load()

df_employees.show(10)

Py4JJavaError: An error occurred while calling o455.load.
: java.lang.ClassNotFoundException: oracle.jdbc.OracleDriver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:592)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:525)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:47)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:112)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:112)
	at scala.Option.foreach(Option.scala:437)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:112)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:42)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:34)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:361)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.org$apache$spark$sql$catalyst$analysis$ResolveDataSource$$loadV1BatchSource(ResolveDataSource.scala:143)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.$anonfun$applyOrElse$2(ResolveDataSource.scala:61)
	at scala.Option.getOrElse(Option.scala:201)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.applyOrElse(ResolveDataSource.scala:61)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.applyOrElse(ResolveDataSource.scala:45)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$3(AnalysisHelper.scala:139)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:86)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:139)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:416)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:135)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:131)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUp(AnalysisHelper.scala:112)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUp$(AnalysisHelper.scala:111)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUp(LogicalPlan.scala:37)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.apply(ResolveDataSource.scala:45)
	at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.apply(ResolveDataSource.scala:43)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$2(RuleExecutor.scala:242)
	at scala.collection.LinearSeqOps.foldLeft(LinearSeq.scala:183)
	at scala.collection.LinearSeqOps.foldLeft$(LinearSeq.scala:179)
	at scala.collection.immutable.List.foldLeft(List.scala:79)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1(RuleExecutor.scala:239)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1$adapted(RuleExecutor.scala:231)
	at scala.collection.immutable.List.foreach(List.scala:334)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:231)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.org$apache$spark$sql$catalyst$analysis$Analyzer$$executeSameContext(Analyzer.scala:340)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$execute$1(Analyzer.scala:336)
	at org.apache.spark.sql.catalyst.analysis.AnalysisContext$.withNewAnalysisContext(Analyzer.scala:234)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:336)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:299)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$executeAndTrack$1(RuleExecutor.scala:201)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.executeAndTrack(RuleExecutor.scala:201)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:190)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)
	at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)
	at scala.util.Try$.apply(Try.scala:217)
	at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)
	at org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1439)
	at org.apache.spark.util.LazyTry.get(LazyTry.scala:58)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)
	at org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$1(Dataset.scala:115)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
	at org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:113)
	at org.apache.spark.sql.classic.DataFrameReader.load(DataFrameReader.scala:109)
	at org.apache.spark.sql.classic.DataFrameReader.load(DataFrameReader.scala:92)
	at org.apache.spark.sql.classic.DataFrameReader.load(DataFrameReader.scala:58)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:108)
	at java.base/java.lang.Thread.run(Thread.java:842)
	Suppressed: org.apache.spark.util.Utils$OriginalTryStackTraceException: Full stacktrace of original doTryWithCallerStacktrace caller
		at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
		at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:592)
		at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:525)
		at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:47)
		at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:112)
		at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:112)
		at scala.Option.foreach(Option.scala:437)
		at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:112)
		at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:42)
		at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:34)
		at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:361)
		at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.org$apache$spark$sql$catalyst$analysis$ResolveDataSource$$loadV1BatchSource(ResolveDataSource.scala:143)
		at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.$anonfun$applyOrElse$2(ResolveDataSource.scala:61)
		at scala.Option.getOrElse(Option.scala:201)
		at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.applyOrElse(ResolveDataSource.scala:61)
		at org.apache.spark.sql.catalyst.analysis.ResolveDataSource$$anonfun$apply$1.applyOrElse(ResolveDataSource.scala:45)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$3(AnalysisHelper.scala:139)
		at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:86)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.$anonfun$resolveOperatorsUpWithPruning$1(AnalysisHelper.scala:139)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:416)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning(AnalysisHelper.scala:135)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUpWithPruning$(AnalysisHelper.scala:131)
		at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUpWithPruning(LogicalPlan.scala:37)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUp(AnalysisHelper.scala:112)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.resolveOperatorsUp$(AnalysisHelper.scala:111)
		at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUp(LogicalPlan.scala:37)
		at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.apply(ResolveDataSource.scala:45)
		at org.apache.spark.sql.catalyst.analysis.ResolveDataSource.apply(ResolveDataSource.scala:43)
		at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$2(RuleExecutor.scala:242)
		at scala.collection.LinearSeqOps.foldLeft(LinearSeq.scala:183)
		at scala.collection.LinearSeqOps.foldLeft$(LinearSeq.scala:179)
		at scala.collection.immutable.List.foldLeft(List.scala:79)
		at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1(RuleExecutor.scala:239)
		at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$execute$1$adapted(RuleExecutor.scala:231)
		at scala.collection.immutable.List.foreach(List.scala:334)
		at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:231)
		at org.apache.spark.sql.catalyst.analysis.Analyzer.org$apache$spark$sql$catalyst$analysis$Analyzer$$executeSameContext(Analyzer.scala:340)
		at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$execute$1(Analyzer.scala:336)
		at org.apache.spark.sql.catalyst.analysis.AnalysisContext$.withNewAnalysisContext(Analyzer.scala:234)
		at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:336)
		at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:299)
		at org.apache.spark.sql.catalyst.rules.RuleExecutor.$anonfun$executeAndTrack$1(RuleExecutor.scala:201)
		at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)
		at org.apache.spark.sql.catalyst.rules.RuleExecutor.executeAndTrack(RuleExecutor.scala:201)
		at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:190)
		at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)
		at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)
		at org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)
		at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)
		at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)
		at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)
		at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)
		at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)
		at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)
		at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)
		at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)
		at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)
		at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)
		at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)
		at scala.util.Try$.apply(Try.scala:217)
		at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)
		at org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)
		at org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)
		... 21 more

In [11]:
url = "jdbc:oracle:thin:@//localhost:1521/XE"

df_emp_filtered.write \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", "HR.dept_agg") \
    .option("user", "HR") \
    .option("password", "admin123") \
    .option("driver", "oracle.jdbc.OracleDriver") \
    .mode("overwrite") \
    .save()

In [8]:
url = "jdbc:oracle:thin:@//localhost:1521/XE"
oracle_props = {
    "user": "HR",
    "password": "admin123",
    "driver": "oracle.jdbc.OracleDriver"}


df_emp_filtered = spark.read \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", "(select department_name, sum(salary) total_salary from employees e join\
    departments d on e.department_id = d.department_id group by department_name) T") \
    .options(**oracle_props) \
    .load()

df_emp_filtered.show(10)

+----------------+-----------------+
| DEPARTMENT_NAME|     TOTAL_SALARY|
+----------------+-----------------+
|  Administration|  4400.0000000000|
|      Accounting| 20308.0000000000|
|       Executive| 63600.0000000000|
|              IT| 33800.0000000000|
|      Purchasing| 24900.0000000000|
| Human Resources|  6500.0000000000|
|Public Relations| 10000.0000000000|
|        Shipping|156400.0000000000|
|         Finance| 51608.0000000000|
|           Sales|304500.0000000000|
+----------------+-----------------+
only showing top 10 rows